
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Глеб Иванов - контент для бизнеса</title>
  <meta
    name="description"
    content="Фото и видео контент для производств, брендов и компаний. Предметная съёмка, видео распаковки, экспертные видео и рекламные ролики."
  />
  <meta property="og:type" content="website">
  <meta property="og:title" content="Глеб Иванов - контент для бизнеса">
  <meta
    property="og:description"
    content="Фото и видео контент для производств, брендов и компаний. Предметная съёмка, видео распаковки, экспертные видео и рекламные ролики."
  >
  <meta property="og:image" content="./images/header_photo_pc.png">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="Глеб Иванов - контент для бизнеса">
  <meta
    property="twitter:description"
    content="Фото и видео контент для производств, брендов и компаний. Предметная съёмка, видео распаковки, экспертные видео и рекламные ролики."
  >
  <meta property="twitter:image" content="./images/header_photo_pc.png">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
  <link rel="stylesheet" href="./css/main.css"/>
</head>

